/AppTemplates/APIExamples/
/AppTemplates/Boxy/
/AppTemplates/Bus/
/AppTemplates/charts_lessons/
/AppTemplates/Taxi/
/AppTemplates/Test/
/AppTemplates/Tracker/
/AppTemplates/Trashmon/
/AppTemplates/untitled/
/AppTemplates/readme.txt
