body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed';
}

html, body, #map {
    height: 100%;
    width: 100%;
}

canvas {
    font-smooth: never;
    -webkit-font-smoothing: none;
}

.controlWrapper .container .logoDiv {
    text-align: center;
    width: 100%;
}

#progressDiv {
    padding: 0;
    background-color: rgba(255, 255, 255, .3);
    width: 100%;
}

.totalStatsDiv .k-progressbar .k-state-selected {
    background-color: #30abdc;
    border-color: #1c97c8;
}

.onlineStatsDiv .k-progressbar .k-state-selected {
    background-color: #fecb00;
    border-color: #eab700;
}

.k-progress-status {
    font-weight: bold;
    color: #303030;
}

.controlWrapper {
    position: fixed;
    width: 300px;
    right: 20px;
    top: 20px;
    background-color: rgba(0, 0, 0, .75);
    border-radius: 10px;
    padding: 15px 0 15px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.k-dropdown, .k-dropdowntree {
    height: 30px;
}

.k-progressbar-horizontal {
    height: 20px;
    width: 100%;
    background-color: #ccc;
}

#col-xs-12 .totalProgress {
    width: 100%;
    background-color: #ccc;
    height: 50px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
}

#orgs {
    //padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

#logo {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#statistics {
    display: flex;
    flex-wrap: wrap;
}

.orgDropdown, .statsDiv {
    width: 100%;
    padding-top: 10px;
}

@media screen and (max-width: 1024px) {
    .controlWrapper {
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0px;
        right: 0px;

        border-radius: 0;
        font-size: 70%;
        margin-top: 0;
    }

    .col-xs-12 {
        font-size: 200%;
    }

    .statsDiv {
        width: 50%;
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    #logo {
        width: 30%;
    }

    .controlWrapper {
        position: fixed;
        width: 25%;
        top: 0px;
        left: 0px;
        bottom: 0px;

        border-radius: 0;
        font-size: 100%;
        margin-top: 0;
    }

    .k-dropdown, .k-dropdowntree {
        height: 30px;
        margin-bottom: 2px;
        font-size: 140%;
    }

    .k-progressbar-horizontal {
        height: 20px;
        width: 100%;
        background-color: #ccc;
    }

    #col-xs-12 .totalProgress {
        width: 100%;
        background-color: #ccc;
        height: 15px;
    }

    .col-xs-12 {
        font-size: 140%;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        height: auto;
    }

    #carsstats {
        margin-top: 0px;
    }

    .orgDropdown, .statsDiv  {
        width: 100%;
        padding-bottom: 5px;
    }
}

.semi-white {
    color: #f0f0f0;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-12, .col-xs-3 {
    float: left;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.cluster-icon {
    background: url(../../../../Content/images/Polygons-01.svg);
    text-rendering: geometricPrecision;
    -webkit-tap-highlight-color: transparent;
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: middle;
    margin: 0;
    font-size: 13px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
    line-height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    -webkit-user-drag: none;
    display: block;
    cursor: pointer;
    pointer-events: auto;
    margin-left: -22.5px;
    margin-top: -22.5px;
    width: 45px;
    height: 45px;
    transform: translate3d(5233px, -128px, 0px);
    z-index: -128;
}